# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# .NET
**/bin/
**/obj/
*.user
*.csproj.user
*.http
*.slnx
*.vsidx
*.vsidx.config
*.cache
*.Up2Date
*.pdb
*.dll
*.exe
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.assets.cache
*.AssemblyInfoInputs.cache
*.csproj.AssemblyReference.cache
*.csproj.CoreCompileInputs.cache
*.genruntimeconfig.cache
*.MvcApplicationPartsAssemblyInfo.cache
*.OpenApiFiles.cache
*.build.ex.cache
*.razor.dswa.cache.json
*.mcshtml.dswa.cache.json
*.rpswa.dswa.cache.json
*.staticwebassets.build.json
*.staticwebassets.build.endpoints.json
CoverletSourceRootsMapping_*
.vs/
*.testlog
*.testlog.manifest
*.futdcache.v2
*.dtbcache.v2
*.DocumentLayout.json
*.DocumentLayout.backup.json
*.metadata.v10.bin
*.projects.v10.bin
*.strings.v10.bin
applicationhost.config